* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(53, 53, 53);
}

.full-page-wrapper {
  width: 80%;
  margin: 10px auto;
}

.input-flex {
  margin-top: 0.5rem;
    display: flex;
  }
  
  .input-value {
    margin-top: 1rem;
  }

  label {
    display: block;
    padding-bottom: 0.5rem;
    padding-right: 0.6rem;
    color: white;
    font-size: 0.9rem;
  }

  input[type=number] {
  width: 13%;
  height: 1.2rem;
  color: white;
  text-align: center;
  position: static;
}

input[type=text] {
  padding: 102px;
}

section input {
  display: flex;
}

.pixels {
  padding-left: 0.5rem;
  color: white;
}

h1 {  
  margin-top: 2rem;
  text-align: center;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
}

.main-border {
  margin-top: 2rem;
  height: 50vh;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(230, 231, 235);
}

.inside-boder {
  margin: 2rem;
  height: 35vh;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}


input[type=number] {
  width: 13%;
  color: white;
  text-align: center;
  position: relative;
}



.copy-values {
  display: flex;
  width: 100%;
  margin: 10px auto;
}

section button {
  background-color: white;
;
}

section .input-copy {
  background-color: white;
;
  color: black;
  padding-left: 19rem;
}

section button, section .input-copy {
  padding: 5px 15px 5px 15px;
}

.btnCopy {
  cursor: pointer;
}

footer {
  color: white;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding-top: 1rem;
  font-size: 1rem;
}

footer span{
  text-decoration: underline;
}

/* @media (min-width: 321px) and (max-width: 1024px) {
  
} */